
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    font-size: 14pt;
}

#content {
    padding: 20px;
    border: 0;
    width: 100%;
    height: 100%;

    font-family: monospace;
    font-size: 14pt;

    background-color: rgb(31, 55, 76);
    color: white;
    box-sizing: border-box;
}

#pane {
    z-index: 100;
    padding: 10px;

    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
}

#pane-filter {
    width: 300px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

    font-size: 14pt;
}


#pane-list {
    height: 300px;
    overflow: scroll;
}


#pane-list .item {
    width: 100%;
    height: 50px;
    line-height: 50px;

    color: white;
    border: 3px solid #113645;
    background-color: #182a39;
    padding: 10px;

    cursor: pointer;
}

#pane-list .item.selected {
    border: 3px solid rgb(38, 117, 150);
    background-color: rgb(55, 95, 128);
}

.hidden {
    display: none;
}
